
#top {
    position: relative;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    padding: 5px;
    width: 200px;
}

#right {
    float: right;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    padding: 5px;
}

.left_content {
    padding: 5px;
    margin-left: 220px;
}

.right_content {
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  text-decoration : underline;
}

.errorMsg {
    color: red;
}

.textAlignRight {
    display: block;
    text-align: right;
}
