body { 
    margin: 10px;
}

h1 {
    margin: 0px;
    padding: 0px;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

form {
    display: inline-block;
    margin: 0;
}

th, td {
    padding: 5px 10px;
}